@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  scroll-behavior: smooth;
}

nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-height: 8vh;
  font-family: sans-serif;
  padding: 0 20px;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo h4 {
  font-size: 25px;
  color: #4b4b4b;
  font-weight: 750;
}

.logo h4 span {
  color: #a1a1a1;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 450;
}

.logo2 {
  display: flex;
  align-items: center;
}

.logo2 img {
  height: 50px;
}

.nav-links {
  display: flex;
  padding: 0 20px;
}

body {
  background-color: #ffffff;
}

.nav-links li {
  padding: 10px;
  list-style: none;
  display: flex;
}

.nav-links li img {
  width: 15px;
}

.nav-links li a span {
  background-color: #0a0a0a;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.nav-links a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 450;
  padding: 10px 15px;
  color: black;
}

.burger {
  display: none;
}

.burger div {
  width: 10px;
  height: 2px;
  background-color: #7c7c7c;
  margin: 3px;
  transition: all 0.3s ease;
}

/* isi */
.isi {
  margin-top: 14vh;
}

.page2 {
  display: block;
}

.page2 {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.pageitem {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pageitem2 {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  align-items: center;
}

.pageitem h1 {
  color: black;
  font-weight: 500;
}
.pageitem p {
  color: black;
  margin: 10px 0;
  margin-bottom: 20px;
}

.pageitem a {
  color: white;
  background-color: #0a0a0a;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.line {
  width: 80%;
  height: 2px;
  background-color: #4b4b4b;
}

/* medquer */
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 8vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
    padding: 20px 0;
    width: 100%;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .isi2 h1 {
    font-size: 20px;
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 8vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
    padding: 20px 0;
    width: 100%;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  /* isi */

  .isi {
    margin-top: 14vh;
  }

  .isi2 {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .page2 {
    display: inline;
  }

  .pageitem {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .pageitem2 {
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
  }

  .pageitem2 h1 {
    color: black;
    font-weight: 500;
    font-size: 15px;
  }
  .pageitem p {
    color: black;
    margin: 10px 0;
    margin-bottom: 20px;
  }

  .pageitem a {
    color: white;
    background-color: #0a0a0a;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .line {
    width: 80%;
    height: 2px;
    background-color: #4b4b4b;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
